<footer id="footer">
    <div class="row-fluid">
        <div class="footer-wrapper">
            <div class="span3">
                <div class="about-us">
                    <div><h2>L'Auto Ecole</h2></div>
                    <div>Nous existons depuis plus de 20ans ! Nous vous assurons un permis dans un temps records et qui plus est grauit !</div>
                    <div class="partenariat">
                        <div><h2>Partenariat</h2></div>
                        <a href="https://www.facebook.com/pages/FREE-RIDE-COMPANY/196285206559?fref=ts">
                            <img src="css/img/frc.png" style="width:136px;" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="connect-with-us">
                    <div><h2>Suivez Nous</h2></div>
                    <div style="display:block;">
                        <a href=""><div class="ic-facebook-32px icon-32"></div></a>
                        <a href=""><div class="ic-twitter-32px icon-32"></div></a>
                        <a href=""><div class="ic-youtube-32px icon-32"></div></a>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="where-we-are">
                    <div><h2>O&ugrave; Nous Trouver ?</h2></div>
                    <address id="address">
                        <ul>
                            <li>Adresse: 4 Rue Armand Carel</li>
                            <li>75019 Paris</li>
                            <li>Tel: 09.52.85.64.07</li>
                            <li>Email: <span class="poi">auto.ecole.bc@free.fr</span></li>
                        </ul>
                    </address>
                    <div style="padding:20px 0px;">
                        <a><span>HORAIRES</span></a> | <a><span>CODE EN LIGNE</span></a>
                    </div>
                </div>
            </div>
            <div class="hidden-phone clearme"></div>
        </div>
    </div>
</footer>
