<header id="header-magnet" class="row-fluid">
    <div class="header-wrap">
        <div class="content">
            <div class="row-fluid">
                <div class="span-widget logo">
                    <!-- FIXME -->
                    <img src="" style="width:45px;height:45px;"></img>
                </div>

                <div class="visible-phone row-fluid">
                    <a>
                        <ul id="menu-trigger">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </a>
                </div>

                <!-- MENU BAR WRAPPER -->
                <nav class="visible-phone">
                    <ul id="menu-vertical" class="top open hide">
                        <li><a href="#code">LE CODE</a></li>
                        <li><a href="#permis-auto">PERMIS AUTO</a></li>
                        <li><a href="#permis-moto">PERMIS MOTO</a></li>
                        <li><a href="#permis-auto">HANDICAPE</a></li>
                        <li><a href="http://auto-moto-ecole-buttes-chaumont-paris.packweb2.com/">CODE EN LIGNE</a></li>
                        <li><a href="#address">NOUS CONTACTER</a></li>
                    </ul>
                </nav>

                <!-- MENU BAR -->
                <nav class="hidden-phone menu-flow-horizontal">
                    <ul>
                        <li><a href="#code">LE CODE</a></li>
                        <li><a href="#permis-auto">PERMIS AUTO</a></li>
                        <li><a href="#permis-moto">PERMIS MOTO</a></li>
                        <li><a href="#permis-auto">HANDICAPE</a></li>
                        <li><a href="http://auto-moto-ecole-buttes-chaumont-paris.packweb2.com/">CODE EN LIGNE</a></li>
                        <li><a href="#address">NOUS CONTACTER</a></li>
                    </ul>
                </nav>
                <div class="hidden-phone clearme"></div>
            </div>                    
        </div>
    </div>
</header>