<div id="permis-auto" class="permis-auto-wrapper permis-wrapper mobile-optimiz">
    <div class="parallax parallax-bg">
        <div class="span row-fluid">
            <div class="parallax-wrap-bg">
                <div class="content">
                    <section>
                        <!-- SECTION TITLE -->
                        <div class="permis-titles">
                            <h1 class="start">Choisissez votre permis !</h1>
                            <h1 class="permis-aac">Permis AAC</h1>
                            <h1 class="permis-b ">Permis B</h1>
                            <h1 class="permis-bea ">Permis BEA</h1>
                            <h1 class="permis-handicape">Permis Handicape</h1>
                        </div>
                        <div class="title-separator"></div>
                        <!-- MAKE YOUR CHOICE -->
                        <div class="choices-wrapper">
                            <!-- MAKE YOUR CHOICE: TYPE OF 2-WHEELS -->
                            <div class="option-icons">
                                <div class="cell">                                    
                                    <a class="permis-aac" href="#permis-auto">
                                        <div class="option-icon-wrap">
                                            <div class="option-icon">
                                                <span>AAC</span>
                                            </div>
                                        </div>
                                        <p>AAC</p>
                                    </a>
                                </div>
                                <div class="cell">                                    
                                    <a class="permis-b" href="#permis-auto">
                                        <div class="option-icon-wrap">
                                            <div class="option-icon">
                                                <span>B</span>
                                            </div>
                                        </div>
                                        <p>PERMIS B</p>
                                    </a>
                                </div>
                                <div class="cell">                                    
                                    <a class="permis-bea" href="#permis-auto">
                                        <div class="option-icon-wrap">
                                            <div class="option-icon">
                                                <span>BEA</span>
                                            </div>
                                        </div>
                                        <p>PERMIS BEA</p>
                                    </a>
                                </div>
                                <div class="cell">                                    
                                    <a class="permis-handicape" href="#permis-auto">
                                        <div class="option-icon-wrap">
                                            <div class="option-icon">
                                                <span>H</span>
                                            </div>
                                        </div>
                                        <p>HANDICAPE</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- PERMIS DETAILS SHEET -->
                        <div class="row-fluid">
                            <div class="permis-details-wrapper ">
                                <div class="content">
                                    <!-- FIXME -->
                                </div>
                            </div>
                        </div>
                        <div class="restart-btn back">AUTRES PERMIS AUTO</div>
                        <a href="#vehicules"><div class="back">UN AUTRE VEHICULE</div></a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>