<div id="permis-moto" class="permis-moto-wrapper permis-wrapper mobile-optimiz">
    <div class="parallax parallax-bg">
        <div class="span row-fluid">
            <div class="parallax-wrap-bg">
                <div class="content">
                    <section>
                        <!-- SECTION TITLE -->
                        <div class="permis-titles">
                            <h1 class="2wheels">Choisissez votre 2-roues !</h1>
                            <h1 class="moto ">Choisissez votre permis !</h1>
                            <h1 class="permis-am">Permis AM</h1>
                            <h1 class="permis-125 ">Permis 125</h1>
                            <h1 class="permis-a1 ">Permis A1</h1>
                            <h1 class="permis-a2 ">Permis A2</h1>
                            <h1 class="permis-a ">Permis A</h1>
                            <h1 class="permis-asanscode ">Permis A (Sans Code)</h1>
                        </div>
                        <div class="title-separator"></div>
                        <div class="choices-wrapper">
                            <!-- MAKE YOUR CHOICE: TYPE OF 2-WHEELS -->
                            <div class="choice-permis-2wheels option-icons">
                                <div class="cell">                                    
                                    <a class="permis-am" href="#permis-moto">
                                        <div class="option-icon-wrap">
                                            <div class="option-icon">
                                                <div class="ic-scooter-custom-64px icon-64"></div>
                                            </div>
                                        </div>
                                        <p>50cc</p>
                                    </a>
                                </div>
                                <div class="cell">                                    
                                    <a class="permis-125" href="#permis-moto">
                                        <div class="option-icon-wrap">
                                            <div class="option-icon">
                                                <div class="ic-moto-125cc-custom-64px icon-64"></div>
                                            </div>
                                        </div>
                                        <p>125cc</p>
                                    </a>
                                </div>
                                <div class="cell">                                    
                                    <a class="moto-btn" href="#permis-moto">
                                        <div class="option-icon-wrap">
                                            <div class="option-icon">
                                                <div class="ic-moto-600cc-custom-64px icon-64"></div>
                                            </div>
                                        </div>
                                        <p>600c</p>
                                    </a>
                                </div>
                            </div>
                            <!-- MAKE YOUR CHOICE: PERMIS MOTO -->
                            <div class="choice-permis-moto option-icons ">
                                <div class="cell">                                    
                                    <a title="A1" class="permis-a1" href="#permis-moto">
                                        <div class="option-icon-wrap">
                                            <div class="option-icon">
                                                <span>A1</span>
                                            </div>
                                        </div>
                                        <p>A1</p>
                                    </a>
                                </div>
                                <div class="cell">                                    
                                    <a title="A2" class="permis-a2" href="#permis-moto">
                                        <div class="option-icon-wrap">
                                            <div class="option-icon">
                                                <span>A2</span>
                                            </div>
                                        </div>
                                        <p>A2</p>
                                    </a>
                                </div>
                                <div class="cell">                                    
                                    <a title="A" class="permis-a" href="#permis-moto">
                                        <div class="option-icon-wrap">
                                            <div class="option-icon">
                                                <span>A</span>
                                            </div>
                                        </div>
                                        <p>A</p>
                                    </a>
                                </div>
                                <div class="cell">                                    
                                    <a title="A SANS " class="permis-a-sanscode" href="#permis-moto">
                                        <div class="option-icon-wrap">
                                            <div class="option-icon">
                                                <span>A</span>
                                            </div>
                                        </div>
                                        <p>A (-CODE)</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- PERMIS DETAILS SHEET -->
                        <div class="row-fluid">
                            <div class="permis-details-wrapper ">
                                <div class="content">
                                    <div class="permis-am">
                                        <div class="table">
                                            <div class="cell">
                                                <div class="ic-av-timer-black-48px icon-48"></div>
                                                <div class="text">
                                                    <h3>Formation</h3>
                                                    <ul>
                                                        <li>20 heures de conduite</li>
                                                        <li>Code (apprentissage et examens blancs)</li>
                                                    </ul>
                                                </div>                                       
                                            </div>
                                            <!--<div class="cell-separator"><div></div></div>-->
                                            <div class="cell">
                                                <div class="ic-card-giftcard-black-48px icon-48"></div>
                                                <div class="text">
                                                    <h3>Fournis</h3>
                                                    <ul>
                                                        <li>Livre de code</li>
                                                        <li>Code en ligne : Packweb2 - Module de formation, tests d'apprentissage et examens blancs</li>
                                                    </ul>
                                                </div>                                       
                                            </div>
                                        </div>
                                        <div class="table">
                                            <div class="cell">
                                                <div class="ic-local-gas-station-black-48px icon-48"></div>
                                                <div class="text">
                                                    <h3>Frais</h3>
                                                    <ul>
                                                        <li>Frais d'inscription et démarches administratives</li>
                                                    </ul>
                                                </div>                                       
                                            </div>
                                            <!--<div class="cell-separator"><div></div></div>-->
                                            <div class="cell">
                                                <div class="ic-school-black-48px icon-48"></div>
                                                <div class="text">
                                                    <h3>Examens</h3>
                                                    <ul>
                                                        <li>1 Présentation à l'examen du code</li>
                                                        <li>1 Présentation à l'examen du plateau</li>
                                                        <li>1 Présentation à l'examen de la circulation</li>
                                                    </ul>
                                                </div>                                       
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#permis-moto"><div class="restart-btn back">AUTRES PERMIS 2-ROUES</div></a>
                        <a href="#vehicules"><div class="back">AUTRES VEHICULES</div></a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
</div>